{% extends 'main.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="banner-slider" id="banner_slider">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    <li class="glide__slide">
                        <div class="banner-slider-slide">
                            <img height="360" class="banner-slider-slide__banner"src="{% static 'images/banner.jpg' %}" alt="">
                        </div>
                    </li>
                    <li class="glide__slide">
                        <img height="360" src="{% static 'images/banner1.jpg' %}" alt="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="row main-row">
            <div class="col-lg-6">
                <div class="store-box">
                    <div class="card-slider" id="new-arriwal-slider">
                        <div class="slider-header">
                            <div class="slider-header-box">
                                <div class="slider-sm-header__icon-box bg-primary text-white">
                                    <div class="slider-sm-header__icon-text">
                                        NEW
                                    </div>
                                </div>
                                <h4 class="slider-sm-header__title">Новинка</h4>
                            </div>
                            <div class="slider-header-box">
                                <div data-glide-el="controls" class="slider-control pc-visible">
                                    <button data-glide-dir="<" class="slider-control__button">
                                        <span class="material-icons-round">
                                            chevron_left
                                        </span>
                                    </button>
                                    <button data-glide-dir=">" class="slider-control__button">
                                        <span class="material-icons-round">
                                            chevron_right
                                        </span>
                                    </button>
                                </div>
                                <a href="{% url 'category_detail' boiler_list.0.category.slug %}" class="slider-header__button btn btn-outline-primary">Смотреть всё</a>
                            </div>
                        </div>
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for product in new_product_list %}
                                    <li class="glide__slide">
                                        <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                            <div class="card-img-block">
                                                <img src="{{ product.get_main_image }}" class="card-img-top card-img" alt="{{ product.title }}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{ product.get_super_title }}</h6>
                                                <p class="card-price product_price">{{product.price}}</p>
                                            </div>
                                            <div class="card-buttons">
                                                <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                    <span class="material-icons lh-1_5">
                                                        favorite_border
                                                    </span>
                                                </button>
                                                <button class="btn btn-outline-primary">
                                                     <span class="material-icons lh-1_5">
                                                        shopping_cart
                                                    </span>
                                                </button>
                                            </div>                                            
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="store-box">
                    <div class="card-slider" id="top-slider">
                        <div class="slider-header">
                            <div class="slider-header-box">
                                <div class="slider-sm-header__icon-box bg-danger text-white">
                                    <span class="material-icons">
                                        local_fire_department
                                    </span>
                                </div>
                                <h4 class="slider-sm-header__title">Рекомендуем</h4>
                            </div>
                            <div class="slider-header-box">
                                <div data-glide-el="controls" class="slider-control pc-visible">
                                    <button data-glide-dir="<" class="slider-control__button">
                                        <span class="material-icons-round">
                                            chevron_left
                                        </span>
                                    </button>
                                    <button data-glide-dir=">" class="slider-control__button">
                                        <span class="material-icons-round">
                                            chevron_right
                                        </span>
                                    </button>
                                </div>
                                <a href="{% url 'category_detail' boiler_list.0.category.slug %}" class="slider-header__button btn btn-outline-primary">Смотреть всё</a>
                            </div>
                        </div>
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {% for product in new_product_list %}
                                    <li class="glide__slide">
                                        <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                            <div class="card-img-block">
                                                <img src="{{ product.get_main_image }}" class="card-img-top card-img" alt="{{ product.title }}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{ product.get_super_title }}</h6>
                                                <p class="card-price product_price">{{product.price}}</p>
                                            </div>
                                            <div class="card-buttons">
                                                <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                                    <span class="material-icons lh-1_5">
                                                        favorite_border
                                                    </span>
                                                </button>
                                                <button class="btn btn-outline-primary">
                                                     <span class="material-icons lh-1_5">
                                                        shopping_cart
                                                    </span>
                                                </button>
                                            </div>                                            
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="store-box">
            <div class="company-info">
                <h4 class="company-info__h4 mb-3">Компания «Климат-7»</h4>
                <p class="company-info__p">
                    Уже более 15 лет выполняет монтаж систем отопления под ключ, а также их ремонт и модернизацию. Огромнейший опыт работы наших сотрудников позволяет решить ту или иную задачу в самые короткие сроки. Получив немало положительных отзывов, компания «Климат-7» зарекомендовала себя как надежный, добросовестный поставщик услуг!     
                </p>
                <a href="" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
        <div class="store-box">
            <div class="card-slider" id="gas_boilers_slider">
                <div class="slider-header">
                    <h4 class="slider-header__h4">Газовые котлы</h2>
                    <div class="slider-header-box">
                        <div data-glide-el="controls[nav]" class="slider-control-items pc-visible">
                            {% for product in boiler_list %}
                                <button data-glide-dir="={{forloop.counter}}" class="slider-control-items__button btn btn-outline-secondary"></button>
                            {% endfor %}
                        </div>
                        <div data-glide-el="controls" class="slider-control pc-visible">
                            <button data-glide-dir="<" class="slider-control__button">
                                <span class="material-icons-round">
                                    chevron_left
                                </span>
                            </button>
                            <button data-glide-dir=">" class="slider-control__button">
                                <span class="material-icons-round">
                                    chevron_right
                                </span>
                            </button>
                        </div>
                        <a href="{% url 'category_detail' boiler_list.0.category.slug %}" class="slider-header__button btn btn-outline-primary">Смотреть всё</a>
                    </div>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for product in boiler_list %}
                            <li class="glide__slide">
                                <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                    <div class="card-img-block">
                                        <img src="{{ product.get_main_image }}" class="card-img-top card-img" alt="{{ product.title }}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">{{ product.get_super_title }}</h6>
                                        <p class="card-price product_price">{{product.price}}</p>
                                    </div>
                                    <div class="card-buttons">
                                        <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                            <span class="material-icons lh-1_5">
                                                favorite_border
                                            </span>
                                        </button>
                                        <button class="btn btn-outline-primary">
                                                <span class="material-icons lh-1_5">
                                                shopping_cart
                                            </span>
                                        </button>
                                    </div>                                            
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="store-box">
            <div class="company-info">
                <h4 class="company-info__h4 mb-3">Услуги монтажа</h4>
                <p class="company-info__p">
                    Мы применяем комплексный подход к решению любой проблемы и гарантируем оперативность в подготовке и проведении работ любой сложности, обязательное соблюдение сроков выполнения. Наша компания готова создать Вам комфортные условия для работы, взяв на себя решение всех вопросов по технической эксплуатации зданий и сооружений на высоком профессиональном уровне.
                </p>
                <a href="" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
        <div class="store-box">
            <div class="card-slider" id="gas_gorel_slider">
                <div class="slider-header">
                    <h4 class="slider-header__h4">Газовые горелки</h2>
                    <div class="slider-header-box">
                        <div data-glide-el="controls[nav]" class="slider-control-items pc-visible">
                            {% for product in burners_list %}
                                <button data-glide-dir="={{forloop.counter}}" class="slider-control-items__button btn btn-outline-secondary"></button>
                            {% endfor %}
                        </div>
                        <div data-glide-el="controls" class="slider-control pc-visible">
                            <button data-glide-dir="<" class="slider-control__button">
                                <span class="material-icons-round">
                                    chevron_left
                                </span>
                            </button>
                            <button data-glide-dir=">" class="slider-control__button">
                                <span class="material-icons-round">
                                    chevron_right
                                </span>
                            </button>
                        </div>
                        <a href="{% url 'category_detail' burners_list.0.category.slug %}" class="store-box__link btn btn-outline-primary">Смотреть всё</a>
                    </div>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        {% for product in burners_list %}
                            <li class="glide__slide">
                                <a href="{{ product.get_absolute_url }}" class="card card-block-link slider-product-card">
                                    <div class="card-img-block">
                                        <img src="{{ product.get_main_image }}" class="card-img-top card-img" alt="{{ product.title }}">
                                    </div>
                                    <div class="card-body">
                                        <h6 class="card-title">{{ product.get_super_title }}</h6>
                                        <p class="card-price product_price">{{product.price}}</p>
                                    </div>
                                    <div class="card-buttons">
                                        <button class="btn btn-outline-danger card-buttons__favorite-btn">
                                            <span class="material-icons lh-1_5">
                                                favorite_border
                                            </span>
                                        </button>
                                        <button class="btn btn-outline-primary">
                                                <span class="material-icons lh-1_5">
                                                shopping_cart
                                            </span>
                                        </button>
                                    </div>                                            
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/product-price.js' %}"></script>
{% endblock scripts %}